<a href="https://colab.research.google.com/github/pa-shk/iad-intro-ds-practical-tasks/blob/main/hw02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [ ]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [ ]:
students_info = pd.concat(pd.read_csv(f'Data/Students_info_{i}.csv') for i in range(10))
students_marks = pd.concat(pd.read_csv(f'Data/Students_marks_{i}.csv') for i in range(10))
df = students_info.join(students_marks.set_index('index'), on='index')
df.sample(5)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
40,640,male,group D,high school,standard,none,group7,41,52,51
48,148,female,group D,bachelor's degree,standard,completed,group2,68,75,81
21,121,male,group B,associate's degree,standard,completed,group2,91,89,92
20,820,female,group A,some high school,standard,completed,group9,85,90,92
80,180,male,group C,master's degree,free/reduced,completed,group2,62,68,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [ ]:
df.drop(columns=['index'], inplace=True)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [ ]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
df.describe()

,math score,reading score,writing score
count,1000.00000,1000.000000,1000.000000
mean,66.08900,69.169000,68.054000
std,15.16308,14.600192,15.195657
min,0.00000,17.000000,10.000000
25%,57.00000,59.000000,57.750000
50%,66.00000,70.000000,69.000000
75%,77.00000,79.000000,79.000000
max,100.00000,100.000000,100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
df.isna().any().any()

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
df.mean(numeric_only=True)

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
no_prep = df[df['test preparation course'] == 'none'].mean(
    numeric_only=True).to_frame(name='no prep')

prep = df[df['test preparation course'] == 'completed'].mean(
    numeric_only=True).to_frame(name='prep')

no_prep.join(prep)

,no prep,prep
math score,64.077882,69.695531
reading score,66.534268,73.893855
writing score,64.504673,74.418994

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
df.lunch.unique()

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
df.rename(columns={"parental level of education":"education",
                   "test preparation course":"test preparation"},
         inplace=True)

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
(df['math score'] >= passmark).sum() /  df.shape[0]

0.865

In [ ]:
(
    (
        (df['math score'] >= passmark) &
        (df['test preparation'] == 'completed')).sum() /
    (
        df['test preparation'] == 'completed').sum()
)

0.9217877094972067

In [ ]:
(
    (
        (df['math score'] < passmark) &
        (df['gender'] == 'female') &
        (df['test preparation'] == 'none')).sum() /
    (
        (df['gender'] == 'female') &
        (df['test preparation'] == 'none')).sum()
)

0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
df.groupby('race/ethnicity')['reading score'].mean()

In [ ]:
%%timeit
df.groupby('race/ethnicity')['reading score'].mean()

1.1 ms ± 146 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
df.groupby('education')['writing score'].min()

In [ ]:
%%timeit
df.groupby('education')['writing score'].min()

1.38 ms ± 142 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
ethnicity_rscore = {}
for et, rscore in zip(df['race/ethnicity'], df['reading score']):
    ethnicity_rscore.setdefault(et, []).append(rscore)
ethnicity_rscore = {et : sum(ethnicity_rscore[et]) / len(ethnicity_rscore[et])
                    for et in sorted(ethnicity_rscore)}
pd.Series(ethnicity_rscore)

In [ ]:
%%timeit
ethnicity_rscore = {}
for et, rscore in zip(df['race/ethnicity'], df['reading score']):
    ethnicity_rscore.setdefault(et, []).append(rscore)
ethnicity_rscore = {et : sum(ethnicity_rscore[et]) / len(ethnicity_rscore[et])
                    for et in sorted(ethnicity_rscore)}
ethnicity_rscore = pd.Series(ethnicity_rscore)

The slowest run took 6.26 times longer than the fastest. This could mean that an intermediate result is being cached.
3.46 ms ± 2.13 ms per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
educat_wscore = {}
for ed, rscore in zip(df['education'], df['writing score']):
    educat_wscore.setdefault(ed, []).append(rscore)
educat_wscore = {ed : min(educat_wscore[ed]) for ed in sorted(educat_wscore)}
pd.Series(educat_wscore)

In [ ]:
%%timeit
educat_wscore = {}
for ed, rscore in zip(df['education'], df['writing score']):
    educat_wscore.setdefault(ed, []).append(rscore)
educat_wscore = {ed : min(educat_wscore[ed]) for ed in sorted(educat_wscore)}
educat_wscore = pd.Series(educat_wscore)

2.16 ms ± 151 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
df.pivot_table(df, ['gender', 'education'])

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
for i in ('Math', 'Reading', 'Writing'):
    df[f'{i}_PassStatus'] = df[f'{i.lower()} score'].map(lambda x: 'F' if x < passmark else 'P')

In [ ]:
passed = df.loc[:, ['Math_PassStatus','Reading_PassStatus', 'Writing_PassStatus']].apply(lambda x: x == 'P').sum()
failed = df.loc[:, ['Math_PassStatus','Reading_PassStatus', 'Writing_PassStatus']].apply(lambda x: x == 'F').sum()
passed = passed.to_frame(name='passed')
failed = failed.to_frame(name='failed')
passed.join(failed)

,passed,failed
Math_PassStatus,865,135
Reading_PassStatus,910,90
Writing_PassStatus,886,114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
df['OverAll_PassStatus'] = df.loc[:, ['Math_PassStatus', 'Reading_PassStatus', 'Writing_PassStatus']].apply(
    lambda x: x == 'P').all(axis=1)

df['OverAll_PassStatus'] = df['OverAll_PassStatus'].map(lambda x: 'P' if x is True else 'F')

(df['OverAll_PassStatus'] == 'P').sum()

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [ ]:
def GetGrade(average_mark):
    if average_mark > 90:
        return 'A'
    if average_mark > 79:
        return 'B'
    if average_mark > 69:
        return 'C'
    if average_mark > 59:
        return 'D'
    if average_mark > 49:
        return 'E'
    return 'F'

In [ ]:
df['Grade'] = (df.loc[:, ['math score', 'reading score', 'writing score']].sum(axis=1) / 3).apply(GetGrade)
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,E
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P,P,A
96,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P,P,E
97,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P,P,D
98,female,group D,some college,standard,completed,group10,68,78,77,P,P,P,P,C
99,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P,P,B